<div class="main">
    <h1>🎭 Reaction Roles</h1>
    <div class="card">
        <form action="/update" method="POST">
            <label>Message ID (রিয়েকশন দেওয়ার মেসেজ)</label>
            <input type="text" name="reaction_role_msg_id" value="{{ config.reaction_role_msg_id }}">
            <label>Role ID to Give</label>
            <input type="text" name="reaction_role_id" value="{{ config.reaction_role_id }}">
            <button type="submit" class="btn">ACTIVATE REACTION ROLE</button>
        </form>
    </div>
</div>
