<div class="main">
    <h1>🎉 Join & Leave System</h1>
    <div class="card">
        <form action="/update" method="POST">
            <label>Auto-Role ID</label><input type="text" name="autorole_id" value="{{ config.autorole_id }}">
            <label>Welcome Channel ID</label><input type="text" name="welcome_channel" value="{{ config.welcome_channel }}">
            <label>Welcome Message</label>
            <input type="text" name="welcome_msg" value="{{ config.welcome_msg }}">
            <button type="submit" class="btn">SET WELCOME</button>
        </form>
    </div>
</div>
